# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\MSI GL62\OneDrive - Hanoi University of Science and Technology\Desktop\OOLT.VN.20202.20184167.HoangTrongNghien\lab-01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
